<% provide(:title, 'Users') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @users.each do |u|
          # gravatar_for u
          # u.name
        end
        %><br><br>
      </h1>

      </h1>
    </section>
  </aside>
</div>
